{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>单人木偶戏</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">
	<script src="style.css"></script>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<header class="heads">
			<img src="http://p0.so.qhmsg.com/bdr/_240_/t019e3c4caf0e54453f.png"/>
			<div class="title">
				<strong>单人木偶戏</strong>
				<i>失去的在也没有拿回来的资格,不论是谁</i>
			</div>
		<ul class="Navigation">
			<li>
				python
				<ul class="list">
					<li><a href="">tornado</a></li>
					<li><a href="">flask</a></li>
					<li><a href="">django</a></li>
				</ul>
			</li>
			<li>
				python
				<ul class="list">
					<li><a href="">tornado</a></li>
					<li><a href="">flask</a></li>
					<li><a href="">django</a></li>
				</ul>
			</li>
		</ul>
		<a href="" class="login">登录</a>
	</header>
	<div class="content">
		<ul class="randomtext">
			<li>
				<a class="heading">django基本</a>
				<span class="time">08：00</span>
				<div class="texting">
					dasddasdlkjhwqioeuownidcuassiwebn
				</div>
				<li>
				<a class="heading">django基本</a>
				<span class="time">08：00</span>
				<div class="texting">
					dasddasdlkjhwqioeuownidcuassiwebn
				</div>
				<li>
				<a class="heading">django基本</a>
				<span class="time">08：00</span>
				<div class="texting">
					dasddasdlkjhwqioeuownidcuassiwebn
				</div>
				<li>
			</li>
		</ul>
	</div>
	<div class="footer">
		页脚
	</div>
</body>
</html>